.body-done
  .header
    .header__icon
      = link_to image_tag("logo.svg", class: "header__icon__image")
    .header__status
      .header__status__line
        .header__status__line__menber
          会員情報
          .header__status__line__menber__box
        .header__status__line__number
          住所情報
          .header__status__line__number__box
        .header__status__line__done
          完了
          .header__status__line__done__box
  .main
    .main__container
      .main__container__header
        会員登録完了
      .main__container__form
        .main__container__form__input
          .main__container__form__input__label
            ありがとうございます。
          .main__container__form__input__require
            会員登録が完了しました。
          .main__container__form__btn
          = link_to "/", class: "main__container__form__btn__red" do
            フリマをはじめる
  .footer
    .footer__center
      %nav
        %ul.menu
          %li
            = link_to "プライバシーポリシー","#"
          %li
            = link_to "フリマ利用規約","#"
          %li
            = link_to "特定商取引に関する表記","#"