.footer_bottom
  .footer_bottom_bar
    .footer_bottom_bar-info
      メルカリについて
    .footer_bottom_bar-help
      ヘルプ＆ガイド
    .footer_bottom_bar-privacy  
      プライバシーと利用規約
    .footer_bottom_bar_nation
      国  
  .footer_bottom_content

    .footer_bottom_content_info
      %ul
        %li
          = link_to '会社概要(運営会社)','#'
      %ul
        %li
          = link_to '採用情報','#'
      %ul
        %li
          = link_to 'プレスリリース','#'
      %ul
        %li
          = link_to '公式ブログ','#'
      %ul
        %li
          = link_to 'メルカリロゴ利用ガイドライン','#'
    .footer_bottom_content_help
      %ul
        %li
          = link_to 'メルカリガイド','#'
      %ul
        %li
          = link_to 'らくらくメルカリ便','#'
      %ul
        %li
          = link_to 'ゆうゆうメルカリ便','#'
      %ul
        %li
          = link_to '大型メルカリ便','#'
      %ul
        %li
          = link_to '梱包・発送たのメル便','#'
      %ul
        %li
          = link_to '車体取引ガイド','#'
      %ul    
        %li
          = link_to 'メルカリあんしん・あんぜん設計！','#'
      %ul
        %li
          = link_to '偽ブランド品撲滅への取り組み','#'
      %ul
        %li
          = link_to 'メルカリボックス','#'
    .footer_bottom_content_privacy
      .footer_bottom_content_privacy_left
        %ul
          %li
            = link_to 'プライバシーポリシー','#'
        %ul
          %li
            = link_to 'メルカリ利用規約','#'
        %ul
          %li
            = link_to 'あんしんスマホサポート制度に関する利用規約','#'
        %ul
          %li
            = link_to 'コンプライアンスポリシー','#'
      .footer_bottom_content_privacy_right
        %ul
          %li
            = link_to '個人データの安全管理に係る基本方針','#'
        %ul
          %li
            = link_to '特定商取引に関する表記','#'
        %ul
          %li
            = link_to '資金決済法に基づく表記','#'
        %ul
          %li
            = link_to '法令順守と犯罪抑止のために','#'
    .footer_bottom_content_nation
      %ul
        %li
          = link_to '日本','#'
      %ul
        %li
          = link_to 'United States','#'
  .footer_bottom_icon
    =icon 'fab','twitter', class: 'footer_bottom_icon_1'
    =icon 'fab','facebook-square', class: 'footer_bottom_icon_2'
  .footer_bottom_inc
    .footer_bottom_inc_icon
    .footer_bottom_inc_text
      ©︎ Mercari,inc