.popular
  .popular__items
    .popular__items__title
      .popular__items__title__text
        人気のカテゴリー
    .popular__items__genre
      .popular__items__genre__box
        レディース
      .popular__items__genre__box
        メンズ
      .popular__items__genre__box
        家電・スマホ・カメラ
      .popular__items__genre__box
        おもちゃ・ホビー・グッズ

.items__category
  .items__category__1
    .items__category__1__new
      .items__category__1__new__title
        レディース新着アイテム
      .items__category__1__new__detail
        = link_to "#" do
          もっと見る >
    .items__category__1__main
      - @items.each do |item|
        .items__category__1__main__data
          = link_to items_path do
            .items__category__1__main__data__box
              .items__category__1__main__data__box__image
                -# = image_tag "#" ,size: "185x189"
                .items__category__1__main__data__box__price
                  ¥
                  = item.price
                .items__category__1__main__data__box__text
                  = item.name  

                  
                
              


.items__category
  .items__category__1
    .items__category__1__new
      .items__category__1__new__title
        メンズ新着アイテム
      .items__category__1__new__detail
        = link_to "#" do
          もっと見る >
.items__category
  .items__category__1
    .items__category__1__new
      .items__category__1__new__title
        家電・スマホ・カメラ新着アイテム
      .items__category__1__new__detail
        = link_to "#" do
          もっと見る >
.items__category
  .items__category__1
    .items__category__1__new
      .items__category__1__new__title
        おもちゃ・ホビー・グッズ新着アイテム
      .items__category__1__new__detail
        = link_to "#" do
          もっと見る >

.items__footer

