.top
  .top-main
    .top-main__search-bar1
      .top-main__search-bar1__logo-button
        = link_to image_tag("logo.png", class: 'top-main__search-bar1__logo-button__image'),root_path 
      .top-main__search-bar1__text
        = form_for '#', class: 'top-main__search-bar1__text__form' do |f|
          = f.text_field :search, placeholder: '何かお探しですか？'
          = f.label 'search', class: 'top-main__search-bar1__text__box' do
            = icon('fas', 'search', class: 'top-main__search-bar1__text__box__image')
          = f.submit 'search', class: 'top-main__search-bar1__text__box__hidden'
    .top-main__search-bar2
      .top-main__search-bar2__genre-search
        .top-main__search-bar2__genre-search__category-search
          %a.top-main__search-bar2__genre-search__category-search__category-image
            = link_to users_path do
              %i.fas.fa-bars
              カテゴリーから探す
        .top-main__search-bar2__genre-search__brands-search
          %a.top-main__search-bar2__genre-search__brands-search__brands-image
            = link_to new_item_path do
              %i.fas.fa-tag
              ブランドから探す
      .top-main__search-bar2__new
        -if user_signed_in?
          .top-main__search-bar2__new__mypage
            = link_to "マイページ", user_path(current_user.id), class: "top-main__search-bar2__new__mypage__btn"
          .top-main__search-bar2__new__logout
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "top-main__search-bar2__new__logout__btn"
        -else
          .top-main__search-bar2__new__singin
            = link_to "新規会員登録", sign_up_index_path, class: "top-main__search-bar2__new__signin__btn"
          .top-main__search-bar2__new__login
            = link_to "ログイン", new_user_session_path, class: "top-main__search-bar2__new__login__btn"
