!!!
%html

  = render "tops/top"

  %main
    .user-contener
      .l-side
        .mypage-nav
          %ul.mypage-nav__list
            %li.mypage-nav__list__item-active
              = link_to "" do
                マイページ
            %li.mypage-nav__list__item
              = link_to "" do
                出品する
            %li.mypage-nav__list__item
              = link_to sale_list_user_path(current_user) do
                出品した商品-出品中
            %li.mypage-nav__list__item
              = link_to user_bookmarks_path(current_user) do
                お気に入り
            %li.mypage-nav__list__item
              = link_to "" do
                出品した商品-売却済み
            %li.mypage-nav__list__item
              = link_to "" do
                購入した商品-取引中
            %li.mypage-nav__list__item
              = link_to "" do
                購入した商品-過去の取引
          %h3.mypage-nav__head
            決済
          %ul.mypage-nav__list
            %li.mypage-nav__list__item
              = link_to "" do
                残高・振込申請
            %li.mypage-nav__list__item
              = link_to "" do
                ポイント
          %h3.mypage-nav__head
            設定
          %ul.mypage-nav__list
            %li.mypage-nav__list__item
              = link_to "" do
                発送元・お届け先住所変更
            %li.mypage-nav__list__item
              = link_to "" do
                支払い方法・クレジットカード登録
            %li.mypage-nav__list__item
              = link_to "" do
                ログアウト


      .l-content
        .mypage-user-icon
          .figure
            %i.fa.fa-user.fa-4x
            .bold
              = @user.first_name
            .count
              出品数：

        .mypage-tab-container-notification-todo
          .mypage-tabs
            %li.active
              お知らせ
            %li.active2
              やることリスト
          .tab-content
            %ul.mypage-tab-notification
              現在、お知らせはありません
            %ul.mypage-tab-todo

        .mypage-tab-container
          %h2.mypage-tab-head
            購入した商品
          %ul.mypage-tabs
            %li.active
              取引中
            %li.active-2
              過去の取引
          .tab-content
            取引中の商品がありません
          
  = render "tops/footer-image"
  = render "tops/footer"
  = render "tops/sell-btn"


