.item-history
  %ul
    %li
      = link_to @categories.name, root_path
      = icon('fas','angle-right')
    %li
      = link_to @categories.name, root_path
      = icon('fas','angle-right')
    %li
      = link_to @categories.name, root_path
      = icon('fas','angle-right')
    %li
      = link_to "◯◯", root_path
      = icon('fas','angle-right')