.item-history
  %ul
    %li
      = link_to "FURIMA", root_path
      = icon('fas','angle-right')
    %li
      = link_to "◯◯", root_path
      = icon('fas','angle-right')
    %li
      = link_to "◯◯", root_path
      = icon('fas','angle-right')
    %li
      = link_to "◯◯", root_path
      = icon('fas','angle-right')