.main
  .item
    .item__content
      .item__content__top
        .item__content__top__detail
          %h2.item__content__top__detail__name
            = @item.name
          .item__content__top__detail__body
            %ul
              %li
                = image_tag('item1.png', alt: '商品の画像', height: '340px', width: '400px', class: 'item__image__first')        
                %ul
                  %li
                    =image_tag('item1.png', alt: '商品の画像', height: '140px', width: '150px', class: 'item__image__second')
                  %li
                    =image_tag('item1.png', alt: '商品の画像', height: '140px', width: '150px', class: 'item__image__third')
                  %li
                    =image_tag('item1.png', alt: '商品の画像', height: '140px', width: '150px', class: 'item__image__fourth')
          .item__content__top__detail__price
            ¥
            = @item.price
            .item__content__top__detail__price__include
              (税込)
              送料込み
          .item__content__top__detail__comment
            アジは煮付けにするなら下ごしらえは簡単。スーパーや魚屋でも手に入れやすい（お願いもしやすい）と思います。※自分でやるなら、「アジのさばき方」の前半を参考に！アジは頭とワタを除いて腹の中をきれいに洗ったものを用意します。尾っぽも切り落とした方が鍋に入りやすいので、私はいつも落として煮付けています。
          .item__content__top__detail__table
            %table
              %tr
                %th 出品者
                %td
                  = link_to @user.nickname, root_path
              %tr
                %th カテゴリー
                %td
                  = link_to @categories.parent.name, root_path
              %tr
                %th ブランド
                %td
                  = link_to @brand.name, root_path
              %tr
                %th 商品のサイズ
                %td
                  = @item.size
              %tr
                %th 商品の状態
                %td
                  = @item.condition
              %tr
                %th 配送料の負担
                %td
                  = @item.condition
              %tr
                %th 発送元の地域
                %td
                  = @prefecture.name
              %tr
                %th 発送日の目安
                %td
                  = @item.condition
          .item__content__top__detail__option
            -if user_signed_in?
              = render @item
            -else
              %ul
                %li.option-left
                  = icon('far', 'star')
                  お気に入り
                  = @item.bookmarks.ids.length
            %ul
              %li.option-right
                = icon('fas','flag')
                不適切な商品の通報
          -unless user_signed_in?
            -if @item.buyer_id == nil
              = link_to "購入する", item_buy_index_path(@item)
            - else
              soldout
          -if user_signed_in?
            -if current_user.id != @item.seller_id && @item.buyer_id == nil
              = link_to "購入する", item_buy_index_path(@item)
            - elsif @item.buyer_id != nil
              soldout
          -if user_signed_in? && current_user.id == @item.seller_id
            %ul
              %li
                編集する
              %li
                削除する
        .item__content__top__comments
          -@comments.each do |c|
            .item__content__top__comments__title
              .item__content__top__comments__title__name
                %p= c.user.nickname
              .item__content__top__comments__title__user-id
                %p.userid user-id:
                %p.userid= c.user.id
            .item__content__top__comments__text
              %p= c.content
        .item__content__top__comment-box
          = form_for [@item, @comment] do |f|
            = f.text_area :content, class: 'comment-box__form', placeholder: 'コメントを入力'
            %p.item__content__top__comment-box__notice
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.submit 'コメントする', class: 'submit-btn'
      %ul.item__content__links
        %li
          = link_to root_path do
            = icon('fas','angle-left')
            %span 前の商品
        %li
          = link_to root_path do
            %span 後ろの商品
            = icon('fas','angle-right')
      .item__content__relate
        = link_to "〇〇をもっと見る", root_path